* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.fullscreen canvas {
  border: 3px dotted white;
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* background-color: black; */
  /* height: 600px;
  width: 1000px; */
  /* margin: 0 auto; */
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  font-family: "Creepster", cursive;
}

.hidden {
  display: none;
}

/* @media only screen and (max-width: 768px) {
  .fullscreen canvas {
    height: 100%;
    width: 100%;
  }
} */
